<div class="container">
  <input [(ngModel)]="symbol" type="text" />
  <button (click)="subscribe()">Subscribe</button>

  <div class="market-data">
    <div><b>Symbol:</b> {{ symbol }}</div>
    <div><b>Price:</b> {{ price }}</div>
    <div><b>Time:</b> {{ time }}</div>
  </div>

  <div class="chart-container">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            chartType="line">
    </canvas>
  </div>
</div>
